.Table {
	box-shadow: 0 0 1rem grey;
	border-radius: 4px;

	display: flex;
	flex-direction: column;
}

.Table > .block {
	box-shadow: inset 0 0 2px grey;
}

.Table:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.Table:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
