@import "../variables.css";

.Thead {
  padding: 10px 0;
  background-color: #ebeef1;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 4fr 5fr 3fr 4fr 3fr 3fr;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-thead);
}
