#root {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#root > span:first-child {
  padding: 2rem 0;
}

#root > div:nth-child(2) {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  padding: 1rem 2rem;
  border: 1px solid #cdcdcd;
  border-radius: 0.5rem;
}

select:hover {
  border-color: #888;
}

option {
  padding: 1rem 2rem;
  border: 1px solid #cdcdcd;
  border-radius: 0.5rem;
}
